@media (max-width: 1110px) {
    .menu,
    .menu .cta-action{
        display: none;
    }

    .toggle_btn {
        display: block;
    }
}

@media (max-width: 920px) {
    .trade .container-trade{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 4rem 2rem;
    }

    .trade .container-trade .container-text {
        width: 100%;
    }

    .trade .container-trade .container-img {
        width: 70%;
    }
} 

@media (max-width: 640px) {
    .header {
        padding: 2rem;
    }

    .dropdown_menu {
        top: 110px;
        padding: 4rem;
        width: 100%;
        justify-content: center;
    }

    .about {
        padding: 4rem 2rem;
    }

    .container-hero {
        padding: 12rem 2rem 4rem 2rem;
        height: auto;
    }

    .container-hero .container-text .cta-options {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1rem;
    }

    .trade .container-trade .container-text .btn a{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container-hero .container-text .rrss {
        justify-content: center;
    }

    .about .container-cards {
        gap: 4rem;
    }

    .about .container-cards .card:first-child,
    .about .container-cards .card:nth-child(2),
    .about .container-cards .card:nth-child(3) {
        height: auto;
        width: auto;
        padding: 1rem;
    }
}




